<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            {% if not userbasic.is_organization %}
      <li class="nav-item">
                <a class="nav-link" href="/@{{ request.user.get_username }}/profile_details/{{ request.user.id }}"><i class="icon-speedometer"></i>My Profile </a>
                <a class="nav-link" href="/@{{ request.user.get_username }}/update_profile/"><i class="icon-speedometer"></i>Update Profile</a>
            </li>
    {% else %}
      <li class="nav-item">
                <a class="nav-link" href="/"><i class="icon-speedometer"></i> My Profile </a>
                <a class="nav-link" href="/@{{ request.user.get_username }}/update_org_profile/"><i class="icon-speedometer"></i>Update Profile</a>
            </li>
    {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="/"><i class="icon-cloud-upload"></i>Image Upload</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:9000/coco/"><i class="icon-camera"></i>Photo Gallery</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/@{{ request.user.get_username }}/delete_profile/"><i class="icon-pie-chart"></i>Deactivate</a>
            </li>
        </ul>
    </nav>
</div>
